<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Belize Beauty Purchase</title>
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
    <link rel="stylesheet" href="css/main.css">
  
</head>

<body>
<div id="content" class="container">
    <header id="content-header">
        
        
        <%= image_tag('ab1.jpg', id: "content-head-img", alt: "Learn Growth Hacking") %>
    </header>
    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">Payment Sucsesful With Stripe<span class="font-weight-light"></span></h1>
           
             <p>Thank You for Consulting with Belize Beauty. Your Order is Listed Belkow. Please read out terms and conditions and feel free to contact us</p>
             <br> 
             <br>
           </br>

           <p>Your purchase is <%= @purchase.inspect %></p>


           <p>Email: admin@belize.com</p>
           <br>
           <p>Tel: 01189671102</p>
           <br>
           <p>Twitter: @Belize</p>

           

            
            
           
      

           

<footer id="site-footer">
A WP Fenton Company
</footer>


